[submodule "build/ThirdParty/GLFW"]
	path = build/ThirdParty/GLFW
	url = https://github.com/Ciridev/glfw.git
[submodule "build/ThirdParty/YAML"]
	path = build/ThirdParty/YAML
	url = https://github.com/Ciridev/Yaml-cpp
[submodule "build/ThirdParty/glm"]
	path = build/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "build/ThirdParty/ImGui"]
	path = build/ThirdParty/ImGui
	url = https://github.com/Ciridev/imgui.git
	branch = docking
